{% extends "mostenire.html" %}
{% block continut %}

    <title>Cuvânt</title>

    <p></p>
    <br>
    <div class="container bg-white pt-3 my-3 border w-50 ">
        <h4><i>Detector cuvinte</i></h4>
            <p></p>
            <form id="upload-form" name="frm" action="{{ url_for('cuvant') }}" method="POST" enctype="multipart/form-data">
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" name="file" accept="image/*" id="user-input" multiple></br>
                    <label class="custom-file-label" for="user-input">Choose file</label>
                    <p></p>
                </div>
                    <input type="submit" class="btn btn-info" value="send" onclick="showInput();" >
            </form>
        <p></p>
    </div>
{% if cuvant != '' and poza_cuvant !='' %}

    <div class="container border bg-white pt-3 my-3 w-50">

        <div class="row text-center pb-2">
            <div class="col my-3 pb-2 pl-4 pt-4">
                <img  id ="output" class="img-thumbnail w-75 h-50" src="{{url_for('static',filename=poza_cuvant)}}" >
            </div>
            <div class="col my-3 pt-4">
                <img id ="output" class="w-100 h-50 text-center" src="static/egal4.jpg"   >
            </div>
            <div class="col my-3 ">
                     <div class="row">
                         <h5>Rezultat:</h5>
                     </div>

                <span id='display'></span><h1>{{cuvant}}</h1>
            </div>

        </div>
    </div>
{% endif %}

{% if prea_putine %}
    <div class=" container border bg-white pt-3 my-3 w-50 ">
            <div class="row text-center pb-2  pt-4">
                <div class="col my-3 pb-2 ">
                    <p><img id ="output" class="img-thumbnail w-50 h-25" src="{{url_for('static',filename=poza_cuvant)}}" width="200"></p>
                </div>
                <div class="col my-3 pb-2 pt-4">
                    <p><span id='display'></span> <big><b>Prea putine litere in imagine!</b></big></p>
                </div>
            </div>
    </div>
{% endif %}

    <script>
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock continut %}

